/* X-Small devices */
/* Small devices */
@media (min-width: 0px) {
/*    body {
        background: white;
    }*/

    .ion-ios-cog-outline,
    .ion-university,
    .ion-wrench {
        font-size: 240%;
    }

    #education-skills-section h3 {
        font-size: 140%;
    }

    #education-skills-section h5 {
        font-size: 100%;
    }

    #education-skills-section p {
        font-size: 80%;
    }

    .w-query-xs {
        width: 150%;
    }

    .w-query-circle {
        width: 300px;
    }

    .circle {
        height: 70px;
        width: 70px;
        line-height: 70px;
        font-size: 80%
    }


    .ion-ios-flask,
    .ion-laptop {
        display: none;
    }

    .w-sm-90 {
        width: 90% !important;
    }

    .w-xs-120 {
        width: 140% !important;
    }

    #resume-bar-section p {
    font-size: 140%;
    }

    #resume-bar-section p:active {
        font-size: 120%;
    }

    #side-nav {
        display: none;
    }

    .circle-row {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .text-xs-right {
        text-align: right;
    }
}

/* Small devices */
@media (min-width: 576px) {
/*
   body {
        background: red;
    }*/


    #education-skills-section h3 {
        font-size: 130%;
    }

    #education-skills-section h5 {
        font-size: 120%;
    }

    .circle {
        height: 90px;
        width: 90px;
        line-height: 90px;
        font-size: 100%
    }

    .ion-ios-flask,
    .ion-laptop {
        display: block;
    }

    .w-sm-90 {
        width: 75% !important;
    }

    .circle-row {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .w-xs-120 {
        width: 100% !important;
    }
}

/* Medium devices 768*/
@media (min-width: 776px) {
    /*
    body {
        background: blue;
    }*/

    .circle {
        height: 100px;
        width: 100px;
        line-height: 100px;
        font-size: 100%;
    }

    #side-nav {
        display: inline-block;
    }

/*    .form-width {
        width: 65% !important;
    }*/
}

/* Large devices 992*/
@media (min-width: 992px) {
/*
    body {
        background: green;
    }*/


    .ion-ios-cog-outline,
    .ion-university,
    .ion-wrench  {
        font-size: 300%;
    }

    .w-query-circle {
        width: 115%;
    }

}

/* x-large devices */
@media (min-width: 1200px) {
/*    body {
        background: yellow;
    }*/

    .ion-ios-cog-outline,
    .ion-university,
    .ion-wrench  {
        font-size: 400%;
    }

    #education-skills-section h3 {
        font-size: 250%;
    }

    .w-query-circle {
        width: 400px;
    }
}
