/*  blue #00909c

    grey #1b1b1b
*/
html, body {
    font-family: 'Alegreya Sans', 'Oswald', 'Arial', sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    background-color: #1b1b1b;
    font-size: 20px;
    color: #000;
}

/* ----------------- REUSEABLE ------------------------------ */

h1, h2, h3, h5 {
    letter-spacing: 1px;
    margin-bottom: 0;
    font-weight: 800;
}

h2 {
    font-size: 230%;
}

h4 {
    font-size: 150%;
    font-weight: 600;
}

.line {
    height: 2px;
    background-color: #00909c;
}

p {
    font-weight: 100;
    line-height: 1.5;
}

.circle {
    background-color: rgba(27, 27, 27, 0.60);
    height: 100px;
    width: 100px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.25);
    text-align: center;
    line-height: 100px;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.circle:hover,
.small-circle:hover {
    background-color: rgba(0, 144, 156, 0.6);
}

.small-circle {
    background-color: rgba(27, 27, 27, 0.60);
    height: 5px;
    width: 5px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.25);
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

/* BUTTONS */
.btn-outline-primary {
    color: #00909c;
    border-color: #00909c;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
    background-color: #00909c;
    color: #fff;
    border-color: #00909c;
    outline: none !important;
}

.resume-btn {
    opacity: 0.68;
    -webkit-transition: opacity 2s;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.resume-btn:hover {
    opacity: 1.0 !important;
}

.btn:focus, .btn:active {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* ------------------- HEADER ------------------------------- */
header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 144, 156, 0.15)), to(rgba(0, 144, 156, 0.15))), url(img/galaxy2.jpg);
    background-image: linear-gradient(rgba(0, 144, 156, 0.15), rgba(0, 144, 156, 0.15)), url(img/galaxy2.jpg);
    background-size: cover;
    height: 100vh;
}

.navbar {
    position: relative
}

#side-nav {
    position: fixed;
    left: 100%;
    top: 50%;
    -webkit-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%)
}

/* ------------------- ABOUT ME ------------------------------- */

#profile-picture {
    border-radius: 100%;
}


/* ------------------- EDUCATION/SKILLS ------------------------ */
#education-skills-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.75))), url(img/education.jpeg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(img/education.jpeg);
    background-size: cover;
}

/* -------------------- PROJECTS ------------------------------- */
footer {
    background-color: #00909c;
}

footer li {
    list-style-type: none;
}

/* --------------------- CONTACT ------------------------------ */
#contact-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.70)), to(rgba(0, 0, 0, 0.70))), url(img/contact-background.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(img/contact-background.jpg);
}
